[Unit]
Description=Ghost Note Fresh App
After=network.target

[Service]
Type=simple
User=pibulus
WorkingDirectory=/home/pibulus/apps/ghostnote
ExecStart=/home/pibulus/.deno/bin/deno run -A main.ts
Environment=PORT=9013
Environment=HOST=0.0.0.0
Environment=SITE_URL=https://ghostnote.rip
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
