[Unit]
Description=Run PIBULUS service health watchdog

[Timer]
OnBootSec=3min
OnUnitActiveSec=20min
RandomizedDelaySec=180s
Unit=pibulus-watchdog.service

[Install]
WantedBy=timers.target
