services:
  # 1. FILEBROWSER (Your Personal Cloud)
  filebrowser:
    image: filebrowser/filebrowser:s6
    container_name: filebrowser
    user: 1000:1000
    ports:
      - "8080:8080"
    volumes:
      - /media/pibulus:/srv # It can see ALL your drives
      - /opt/filebrowser/database.db:/database.db
      - /opt/filebrowser/filebrowser.json:/.filebrowser.json
    restart: always

  # 2. SLSKD (Soulseek Web Client)
  slskd:
    image: slskd/slskd
    container_name: slskd
    user: 1000:1000
    ports:
      - "5030:5030" # Web Interface
      - "5031:5031" # Soulseek Network Port
    environment:
      - SLSKD_REMOTE_CONFIGURATION=true
    volumes:
      - /media/pibulus/passport/Soulseek:/app/downloads # Downloads go here
      - /opt/slskd:/app/config
    restart: always
# 3. PUBLIC WEB HOST (Nginx)
  web_host:
    image: nginx:alpine
    container_name: web_host
    ports:
      - "8090:80"
    volumes:
      - /media/pibulus/passport/www/html:/usr/share/nginx/html:ro
    restart: always
# 4. ICLOUD DOWNLOADER (The Heist)
  icloudpd:
    image: boredazfcuk/icloudpd
    container_name: icloudpd
    environment:
      - user=1000
      - group=1000
      - apple_id=pibulus@gmail.com
      - authentication_type=2FA
      - notification_days=7
      - synchronisation_interval=86400 # Runs once a day
    volumes:
      - /opt/icloudpd:/config
      - /media/pibulus/passport/immich/upload/icloud:/home/user/iCloud # Downloads straight to Immich
    restart: always
